<div class="container" style="padding-top: 50px;">

  <h1>Block
      <small>View information about an Ethereum Block</small>
  </h1>
   <div class="blockdiv">
     <table class="table table-striped hash-table" cellpadding="0" cellspacing="0">
          <tbody>
          <tr>
              <th colspan="3" align="left"><a class="hash-link" [routerLink]="['/block', blockId]" routerLinkActive="active">{{block.hash}}</a> <span class="pull-right"></span></th>
          </tr>
          </tbody>
      </table>
      <div class="buttons">
          <button class="btn btn-primary">{{block.conf}}</button>
          <button class="btn btn-success cb"><span>{{block.gasUsed}} Gas Used</span></button>
      </div>
      <table class="table table-striped">
          <tbody>
            <tr>
                <th colspan="2" style="text-align:left">Summary</th>
            </tr>
            <tr>
                <td>Block Number</td>
                <td><a [routerLink]="['/block', blockNumber]" routerLinkActive="active">{{block.number}}</a></td>
            </tr>
            <tr>
                <td>Received Time</td>
                <td>
                   {{block.timestamp}}
                </td>
            </tr>
            <tr>
                <td>Difficulty</td>
                <td>
                    {{block.difficulty}}
                </td>
            </tr>
            <tr>
                <td>Nonce</td>
                <td>{{block.nonce}}</td>
            </tr>
            <tr>
                <td>Size</td>
                <td>{{block.size}}</td>
            </tr>
            <tr>
                <td>Miner</td>
                <td><a [routerLink]="['/address', miner]" routerLinkActive="active">{{block.miner}}</a></td>
            </tr>
            <tr>
                <td>Gas Limit</td>
                <td>{{block.gasLimit}}</td>
            </tr>
            <tr>
                <td>Data</td>
                <td>{{block.extraData}}</td>
            </tr>
             <tr>
                <td>Data (Translated)</td>
                <td>{{block.dataFromHex}}</td>
            </tr>
          </tbody>
      </table>
  </div>
   <h2 style="margin-top: 30px;">
    Transactions
    <small>- contained in current block</small>
  </h2>
   <div *ngFor="let tx of transactions; let i=index">
    <table class="table table-striped">
      <tbody>
        <tr>
            <th colspan="2" style="text-align:left">Transaction #{{i+1}}</th>
        </tr>
        <tr>
             <td>Hash #</td>
            <td><a [routerLink]="['/transaction', tx.hash]" routerLinkActive="active">{{tx.hash}}</a></td>
        </tr>
        <tr>
            <td>From</td>
             <td><a [routerLink]="['/address', tx.from]" routerLinkActive="active">{{tx.from}}</a></td>
        </tr>
         <tr>
             <td>To</td>
             <td><a [routerLink]="['/address', tx.to]" routerLinkActive="active">{{tx.to}}</a></td>
         </tr>
         <tr>
             <td>Gas</td>
             <td>{{tx.gas}}</td>
         </tr>
         <tr>
             <td>Input</td>
             <td>{{tx.input}}</td>
         </tr>
         <tr>
             <td>Value</td>
             <td>{{tx.value}}</td>
          </tr>
        </tbody>
    </table>
    <hr>
  </div>
</div>