<div class="container" style="padding-top: 50px;">
  <h1>Address
      <small>View information about an Ethereum Address</small>
  </h1>
  
  <div class="addressdiv">
      <table class="table table-striped address-table" cellpadding="0" cellspacing="0">
          <tbody>
          <tr>
              <th colspan="3" align="left">{{addressId}} <span class="pull-right"></span></th>
          </tr>
          </tbody>
      </table>
      <table class="table table-striped">
          <tbody>
          <tr>
              <td>Balance (Wei)</td>
              <td>{{balance}}</td>
          </tr>
          <tr>
                <!-- value_expression | currency [ : currencyCode [ : display [ : digitsInfo [ : locale ] ] ] ] -->
              <td>Balance (Ether)</td>
              <td>{{balanceInEther | currency : ' '}}</td>
          </tr>
          </tbody>
      </table>
  </div>
  
  </div>